@import '../../styles/colors';
@import '../../styles/fonts';
@import '../Button';

button.iconButton {
	@mixin Button;

	width: 2.4rem;
	height: 2.4rem;

	&:before {
		@mixin fontAwesomeSolid;

		position: relative;
		pointer-events: none;
	}

	&.lists:before {
		content: '\f03a';
	}

	&.back:before {
		content: '\f060';
	}

	&.calendar:before {
		content: '\f073';
	}

	&.complete:before {
		content: '\f00c';
	}

	&.home:before {
		content: '\f015';
	}

	&.add:before {
		content: '\f067';
	}

	&.edit:before {
		content: '\f044';
	}

	&.filter:before {
		content: '\f0b0';
	}

	&.save:before {
		content: '\f0c7';
	}

	&.delete:before {
		content: '\f2ed';
	}
}
