$orange-white: hsl(29, 55%, 90%);
$orange-lightest: hsl(29, 55%, 85%);
$orange-lighter: hsl(29, 55%, 75%);
$orange-light: hsl(29, 55%, 65%);
$orange: hsl(29, 55%, 45%);
$orange-dark: hsl(29, 55%, 30%);
$orange-darker: hsl(29, 55%, 20%);
$orange-darkest: hsl(29, 55%, 15%);
$orange-black: hsl(29, 55%, 10%);

$yellow-white: hsl(44, 55%, 90%);
$yellow-lightest: hsl(44, 55%, 85%);
$yellow-lighter: hsl(44, 55%, 75%);
$yellow-light: hsl(44, 55%, 65%);
$yellow: hsl(44, 55%, 45%);
$yellow-dark: hsl(44, 55%, 30%);
$yellow-darker: hsl(44, 55%, 20%);
$yellow-darkest: hsl(44, 55%, 15%);
$yellow-black: hsl(44, 55%, 10%);

$green-white: hsl(74, 55%, 90%);
$green-lightest: hsl(74, 55%, 85%);
$green-lighter: hsl(74, 55%, 75%);
$green-light: hsl(74, 55%, 65%);
$green: hsl(74, 55%, 45%);
$green-dark: hsl(74, 55%, 30%);
$green-darker: hsl(74, 55%, 20%);
$green-darkest: hsl(74, 55%, 15%);
$green-black: hsl(74, 55%, 10%);

$teal-white: hsl(164, 55%, 90%);
$teal-lightest: hsl(164, 55%, 85%);
$teal-lighter: hsl(164, 55%, 75%);
$teal-light: hsl(164, 55%, 65%);
$teal: hsl(164, 55%, 45%);
$teal-dark: hsl(164, 55%, 30%);
$teal-darker: hsl(164, 55%, 20%);
$teal-darkest: hsl(164, 55%, 15%);
$teal-black: hsl(164, 55%, 10%);

$blue-white: hsl(209, 55%, 90%);
$blue-lightest: hsl(209, 55%, 85%);
$blue-lighter: hsl(209, 55%, 75%);
$blue-light: hsl(209, 55%, 65%);
$blue: hsl(209, 55%, 45%);
$blue-dark: hsl(209, 55%, 30%);
$blue-darker: hsl(209, 55%, 20%);
$blue-darkest: hsl(209, 55%, 15%);
$blue-black: hsl(209, 55%, 10%);

$purple-white: hsl(254, 55%, 90%);
$purple-lightest: hsl(254, 55%, 85%);
$purple-lighter: hsl(254, 55%, 75%);
$purple-light: hsl(254, 55%, 65%);
$purple: hsl(254, 55%, 45%);
$purple-dark: hsl(254, 55%, 30%);
$purple-darker: hsl(254, 55%, 20%);
$purple-darkest: hsl(254, 55%, 15%);
$purple-black: hsl(254, 55%, 10%);

$pink-white: hsl(314, 55%, 90%);
$pink-lightest: hsl(314, 55%, 85%);
$pink-lighter: hsl(314, 55%, 75%);
$pink-light: hsl(314, 55%, 65%);
$pink: hsl(314, 55%, 45%);
$pink-dark: hsl(314, 55%, 30%);
$pink-darker: hsl(314, 55%, 20%);
$pink-darkest: hsl(314, 55%, 15%);
$pink-black: hsl(314, 55%, 10%);

$red-white: hsl(359, 55%, 90%);
$red-lightest: hsl(359, 55%, 85%);
$red-lighter: hsl(359, 55%, 75%);
$red-light: hsl(359, 55%, 65%);
$red: hsl(359, 55%, 45%);
$red-dark: hsl(359, 55%, 30%);
$red-darker: hsl(359, 55%, 20%);
$red-darkest: hsl(359, 55%, 15%);
$red-black: hsl(359, 55%, 10%);

$white: hsl(0, 0%, 90%);
$grey-lightest: hsl(0, 0%, 85%);
$grey-lighter: hsl(0, 0%, 75%);
$grey-light: hsl(0, 0%, 65%);
$grey: hsl(0, 0%, 45%);
$grey-dark: hsl(0, 0%, 30%);
$grey-darker: hsl(0, 0%, 20%);
$grey-darkest: hsl(0, 0%, 15%);
$black: hsl(0, 0%, 10%);

$transparent: rgba(255, 255, 255, 0);
