@import 'augmented-ui';

@import './colors';
@import './fonts';

html {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: $black;

	* {
		font: 400 16px 'Source Code Pro';
		font-family: 'Source Code Pro', monospace;
		touch-action: manipulation;
		-webkit-text-size-adjust: none;
	}
	*:not(input):not(textarea) {
		-webkit-tap-highlight-color: $transparent;
		-webkit-touch-callout: none;
		user-select: none;
	}
	*:not(input):not(textarea):not(button) {
		cursor: default;
	}

	.selectable {
		cursor: text;
		-webkit-tap-highlight-color: initial;
		user-select: text;
	}
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	line-height: 1;
	background: $black;
	color: $white;
	margin: 0;
}

div#app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

input[type="text"], input[type="password"], input[type="number"], select {
	background: $black;
	color: $grey-light;
	border: 2px inset rgba(66, 66, 66, 0.6);
	border-radius: 2px;
	text-indent: 2px;
	font-size: 14px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus {
	outline-color: $teal;
	color: $white;
}

button {
	cursor: pointer;
	color: $grey-lightest;
	background-color: $grey-darkest;
	border: 2px outset rgba(66, 66, 66, 0.6);
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 2px;
}
button:focus {
	outline-color: $teal;
}
button.selected {
	border-style: inset;
	background-color: $grey-lighter;
	color: $grey-darker;
	border-color: $teal-dark;
}
button:active {
	border-style: inset;
	background-color: $white;
	color: $black;
	border-color: $teal;
}

ul {
	width: 70%;
	margin: 1% auto;
	padding: 0;

	li {
		font-size: 20px;
		padding: 7px;
		background-color: $grey-darkest;
		color: $grey-lightest;
		margin: 3px;
		border: 2px solid $grey;
		border-radius: 2px;
	}
	li.selected {
		background-color: $grey-lighter;
		color: $grey-darker;
		border-color: $teal-dark;
	}
	li.disabled {
		cursor: not-allowed;
		background-color: $grey-dark !important;
		color: $grey-light !important;
		border-color: $white !important;
	}
}

body {
	border-radius: 5px;
	overflow: hidden;
	height: 100%;
	margin: 0;

	input.validated, input.valid {
		background: $green-darker !important;
		color: $white !important;
	}
	input.invalid {
		background: $red-darker !important;
		color: $white !important;
	}
	div#heading {
		font-size: 40px;
		text-align: center;
		margin: 10px auto;
		width: 80%;
		border-bottom: 4px solid $black;
		word-wrap: break-word;
	}
}