@import 'colors';

@import 'boilerplate';

html {
	background-color: $black;
}

input[type="text"], input[type="password"], input[type="number"], select {
	background: $black;
	color: $grey-light;
	border: 2px inset rgba(66, 66, 66, 0.6);
	border-radius: 2px;
	text-indent: 2px;
	font-size: 14px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus {
	outline-color: $teal;
	color: $white;
}

button {
	cursor: pointer;
	color: $grey-lightest;
	background-color: $grey-darkest;
	border: 2px outset rgba(66, 66, 66, 0.6);
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 2px;
}
button:focus{
	outline-color: $teal;
}
button.selected{
	border-style: inset;
	background-color: $grey-lighter;
	color: $grey-darker;
	border-color: $teal-dark;
}
button:active{
	border-style: inset;
	background-color: $white;
	color: $black;
	border-color: $teal;
}

ul {
	width: 70%;
	margin: 1% auto;

	li {
		font-size: 20px;
		padding: 7px;
		background-color: $grey-darkest;
		color: $grey-lightest;
		margin: 3px;
		border: 2px solid $grey;
		border-radius: 2px;
	}
	li.selected {
		background-color: $grey-lighter;
		color: $grey-darker;
		border-color: $teal-dark;
	}
	li.disabled {
		cursor: not-allowed;
		background-color: $grey-dark !important;
		color: $grey-light !important;
		border-color: $white !important;
	}
}

body {
	background: $grey-dark;
	background-size: 100% 3px;
	border: 5px outset $grey-darker;
	border-radius: 5px;
	overflow: hidden;

	div#Wrapper {
		position: relative;
		height: 100%;
		border: 1px solid $grey-light;
		border-radius: 1px;
		box-sizing: border-box;
		overflow: auto;
	}

	input.validated, input.valid {
		background: $green-darker !important;
		color: $white !important;
	}
	input.invalid {
		background: $red-darker !important;
		color: $white !important;
	}
	div#heading {
		font-size: 40px;
		text-align: center;
		margin: 10px auto;
		width: 80%;
		border-bottom: 4px solid $black;
		word-wrap: break-word;
	}
}