@import '../styles/colors';

@define-mixin Input {
	display: block;
	border-radius: 3px;
	text-indent: 3px;
	border: inset 3px $grey-light;
	box-sizing: border-box;

	&:disabled {
		color: $black;
		background-color: $grey-darker;
	}
}
