// includes phaserload

ul#gamesList {
	list-style: none;

	li {
		cursor: pointer;
		text-align: right;

		span {
			pointer-events: none;
			float: left;
			text-align: left;
			width: 75%;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
	}
	li:after{
		@extend .clear;
	}
	li:active {
		background-color: $white;
		color: $black;
		border-color: $teal;
	}
	li#newGame {
		text-align: center;
	}
}

div#newGameForm {
	width: 90%;
	margin: 1% auto;

	input {
		display: block;
		font-size: 20px;
		width: 75%;
		margin: 10px auto 0;
	}

	button {
		display: block;
		font-size: 30px;
		width: 40%;
		margin: 10px auto;
	}

	button#playButton, button#lobbyButton {
		font-size: 20px;
		padding: 8px;
		width: 40%;
		display: block;
		margin: 5px auto;
	}
}
