@import 'colors';

@import 'fonts';
@import 'reset';

html {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: $black;
}

html *{
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	touch-action: manipulation;
	-webkit-text-size-adjust: none;
}
*:not(input) {
	cursor: default;
	-webkit-tap-highlight-color: $transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
	position: relative;
	top: 4px;
}
input[type="text"], input[type="password"], input[type="number"], select {
	background: $black;
	color: $grey-light;
	border: 2px inset rgba(66, 66, 66, 0.6);
	border-radius: 2px;
	text-indent: 2px;
	font-size: 14px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus {
	outline-color: $teal;
	color: $white;
}

button {
	cursor: pointer;
	color: $grey-lightest;
	background-color: $grey-darkest;
	border: 2px outset rgba(66, 66, 66, 0.6);
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 2px;
}
button:focus{
	outline-color: $teal;
}
button.selected{
	border-style: inset;
	background-color: $grey-lighter;
	color: $grey-darker;
	border-color: $teal-dark;
}
button:active{
	border-style: inset;
	background-color: $white;
	color: $black;
	border-color: $teal;
}

ul {
	width: 70%;
	margin: 1% auto;

	li {
		font-size: 20px;
		padding: 7px;
		background-color: $grey-darkest;
		color: $grey-lightest;
		margin: 3px;
		border: 2px solid $grey;
		border-radius: 2px;
	}
	li.selected {
		background-color: $grey-lighter;
		color: $grey-darker;
		border-color: $teal-dark;
	}
	li.disabled {
		cursor: not-allowed;
		background-color: $grey-dark !important;
		color: $grey-light !important;
		border-color: $white !important;
	}
}

body {
	position: relative;
	font-size: 62.5%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: $grey-dark;
	background-size: 100% 3px;
	border: 5px outset $grey-darker;
	border-radius: 5px;
	overflow: hidden;

	div#Wrapper {
		position: relative;
		height: 100%;
		border: 1px solid $grey-light;
		border-radius: 1px;
		box-sizing: border-box;
		overflow: auto;
	}
}

input.validated, input.valid {
	background: $green-darker !important;
	color: $white !important;
}
input.invalid {
	background: $red-darker !important;
	color: $white !important;
}

.selectable {
	cursor: text;
	-webkit-tap-highlight-color: initial;
	user-select: text;
}

.hideable{
	transition: opacity .3s;
	will-change: opacity;
}
.hide{
	opacity: 0 !important;
}

.discardable{
	transition: transform .4s, opacity .3s;
	will-change: transform, opacity;
}
.discard {
	@extend .hide;
	transform: scale(0.2);
}
.discard.left {
	transform: scale(0.2) translateX(-1000px);
}
.discard.right {
	transform: scale(0.2) translateX(1000px);
}

.disappear{
	display: none !important;
	will-change: auto !important;
}

.clear{
	content: "";
	display: block;
	clear: both;
}