$orange-white:   #f3e5d7;
$orange-lightest:#edd8c3;
$orange-lighter: #e2be9c;
$orange-light:   #d6a474;
$orange:         #b17033;
$orange-dark:    #764b22;
$orange-darker:  #4f3216;
$orange-darkest: #3b2511;
$orange-black:   #27190b;

$yellow-white:   #f3ecd7;
$yellow-lightest:#ede2c3;
$yellow-lighter: #e2cf9c;
$yellow-light:   #d5bc75;
$yellow:         #b19033;
$yellow-dark:    #766022;
$yellow-darker:  #4f4016;
$yellow-darkest: #3b3011;
$yellow-black:   #27200b;

$green-white:    #ecf3d7;
$green-lightest: #e3edc3;
$green-lighter:  #d1e29c;
$green-light:    #bfd674;
$green:          #94b133;
$green-dark:     #627622;
$green-darker:   #414f16;
$green-darkest:  #313b11;
$green-black:    #20270b;

$teal-white:     #d7f3ec;
$teal-lightest:  #c3ede2;
$teal-lighter:   #9ce2cf;
$teal-light:     #74d6bc;
$teal:           #33b190;
$teal-dark:      #227660;
$teal-darker:    #164f40;
$teal-darkest:   #113b30;
$teal-black:     #0b2720;

$blue-white:     #d7e5f3;
$blue-lightest:  #c3d9ed;
$blue-lighter:   #9cc0e2;
$blue-light:     #74a7d6;
$blue:           #3374b1;
$blue-dark:      #224d76;
$blue-darker:    #16334f;
$blue-darkest:   #11263b;
$blue-black:     #0b1927;

$purple-white:   #ded7f3;
$purple-lightest:#cdc3ed;
$purple-lighter: #ac9ce2;
$purple-light:   #8c75d5;
$purple:         #5133b1;
$purple-dark:    #362276;
$purple-darker:  #24164f;
$purple-darkest: #1b113b;
$purple-black:   #120b27;

$pink-white:     #f3d7ec;
$pink-lightest:  #edc3e3;
$pink-lighter:   #e29cd1;
$pink-light:     #d674bf;
$pink:           #b13394;
$pink-dark:      #762262;
$pink-darker:    #4f1641;
$pink-darkest:   #3b1131;
$pink-black:     #270b20;

$red-white:      #f3d7d7;
$red-lightest:   #edc3c4;
$red-lighter:    #e29c9d;
$red-light:      #d67476;
$red:            #b13335;
$red-dark:       #762223;
$red-darker:     #4f1618;
$red-darkest:    #3b1111;
$red-black:      #270b0b;

$white:          #E4E6E6;
$grey-lightest:  #d6dad9;
$grey-lighter:   #bcc2c0;
$grey-light:     #a1aaa7;
$grey:           #6d7875;
$grey-dark:      #48504e;
$grey-darker:    #303534;
$grey-darkest:   #242827;
$black:          #181A1A;

$transparent:    rgba(255, 255, 255, 0);