@import '../../styles/colors';
@import '../../styles/fonts';

div.editForm {
	flex: 1;
	cursor: default;
	border: none;
	text-align: center;

	button.dueDate {
		display: block;
		margin: 1% auto;
	}

	label {
		position: relative;
		display: block;
		font-size: 1em;
		width: 80%;
		margin: 0 auto 0.2rem;

		&.showTagAdd {
			button#tagAdd {
				display: block;
			}

			input[type='text'] {
				margin: 0 2.5%;
				width: 80%;
			}
		}

		button#tagAdd {
			display: none;
			position: absolute;
			bottom: 47px;
			right: 2.5%;
			margin: 0;

			&:before {
				@mixin fontAwesomeSolid;

				pointer-events: none;
				content: '\f067';
			}

			&:hover {
				top: unset;
				bottom: 48px;
			}

			&:active,
			&.active,
			&.pressed {
				top: unset;
				bottom: 46px;
			}
		}

		input[type='text'],
		input[type='number'] {
			margin: 0 auto;
			width: 95%;
			font-size: 0.9em;
		}

		textarea {
			width: 95%;
			margin: 0 auto;
			resize: vertical;
			font-size: 0.9em;
		}
	}

	div.postLabel,
	button.postLabel {
		margin-top: 0;
	}
}